@model  ORM.Models.Department
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="/Department/Create" method="post">
    <input type="text" class="form-control" name="Name" placeholder="Name">
    <input type="submit" value="Create" class="btn btn-info">
</form>